= link_to "View All Todos", todos_path
= link_to "New Todo", new_todo_path
- if @todo.present? and not @todo.new_record?
	= link_to "Show Todo", todo_path( @todo )
	= link_to "Edit Todo", edit_todo_path( @todo )
